.label {
    display: block;
    position: relative;
    margin-top: 2rem;
}
span {
    display: none;
}
.label:hover span {
    display: block;
    color: #f00;
    position: absolute;
    background-color: black;
    top: -1.5rem;
    left: 0;
}
